.create-cashier-container {
    background-color: #293f5e;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    margin: 0 auto;
    color: #fff;
}

.create-cashier-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.5em;
    color: #f6f6f6;
}

.create-cashier-group {
    margin-bottom: 15px;
    flex: 1;
}

.create-cashier-label {
    display: block;
    margin-bottom: 5px;
}

.create-cashier-input,
.create-cashier-select,
.create-cashier-textarea {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.create-cashier-mute {
    background-color: #b0c9d1;
    color: #333;
    pointer-events: none;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    border: none;
    outline: none;
}

.create-cashier-actions {
    text-align: center;
    display: flex;
    justify-content: flex-end;
}

.create-cashier-submit {
    background-color: #30711b;
    color: #fff;
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

.create-cashier-submit:disabled {
    background-color: #aaa;
    cursor: not-allowed;
    color: #000000;
}
