.view-products-mix {
    padding: 20px;
}
.products-mix-table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
}

.products-mix-table th,
.products-mix-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.products-mix-table th {
    background: #007bff;
    color: #fff;
}
