.notification-container {
    position: fixed;
    bottom: 40px;
    right: 10px;
    z-index: 100000000000000000000000000000000000000000000000000000;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
    width: auto;
    font-family: 'Poppins', sans-serif;
}

.notification {
    position: relative;
    max-width: 700px;
    width: auto;
    padding: 20px;
    border-radius: 40px 0 40px 40px;
    backdrop-filter: blur(10px);
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    color: #fff;
    overflow: hidden;
    animation: float 4s ease-in-out infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
}

.notification-content {
    z-index: 2;
    text-align: center;
}

.notification-message {
    font-size: 16px;
    font-weight: 500;
    color: #f5f5f5;
    margin-bottom: 10px;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 15px;
    margin-bottom: 10px;
    background: none;
    border: none;
    font-size: 12px;
    font-style: italic;
    cursor: pointer;
    color: #bbb;
    transition: color 0.3s;
}

.close-btn:hover {
    color: #fff;
}

.notification.success {
    background: rgb(18, 101, 30);
    box-shadow: 0 0 20px rgba(40, 167, 69, 0.7);
}

.notification.error {
    background: rgb(120, 30, 30, 0.8);
    box-shadow: 0 0 20px rgba(220, 53, 69, 0.7);
}

.notification.info {
    background: rgba(0, 123, 255);
    box-shadow: 0 0 20px rgba(0, 123, 255, 0.7);
}

