.xbrl-page {
    margin-left: 250px;
    padding: 60px 40px;
    background-color: #ffffff;
    min-height: 100vh;
}
.xbrl-table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid #edd;
}
.xbrl-table tr td {
    border-bottom: 1px solid #edd;
}

.xbrl-table td {
    padding: 10px 20px;
    border: none;
    text-align: left;
}

.xbrl-input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.xbrl-button-group {
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

.generate-report-button,
.xbrl-save-changes-button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: 20px;
    border-radius: 20px;
}

.generate-report-button {
    background-color: #28a745;
    color: white;
}

.xbrl-save-changes-button {
    background-color: #007bff;
    color: white;
}

.custom-tooltip {
    max-width: 300px;
    word-wrap: break-word;
    white-space: normal;
    text-align: left;
    font-size: 16px;
    background-color: #183575;
    color: #fff;
    padding: 8px 10px;
    border-radius: 6px;
}

.info-icon {
    cursor: pointer;
    margin-right: 5px;
    font-size: 16px;
}

.custom-tooltip::after {
    border-top-color: #183575 !important;
}
.modal-action-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
