.password-preferences-screen {
    padding: 50px 20px 20px;
    margin-left: 250px;
    background-color: #f8f9fa;
    min-height: 90vh;
}

.preferences-form-container {
    max-width: 800px;
    background: #ffffff;
    border-radius: 10px;
    padding: 20px 30px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.preferences-fieldset {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    background-color: #f9f9f9;
}

.preferences-fieldset legend {
    font-weight: bold;
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
}

.preferences-option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.preferences-option input {
    margin-right: 10px;
}

.preferences-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.preferences-submit-btn,
.preferences-cancel-btn {
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.preferences-submit-btn {
    background-color: #6bbf48;
    color: white;
}

.preferences-submit-btn:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}

.preferences-cancel-btn {
    background-color: #952828;
    color: #ffffff;
}

.preferences-cancel-btn:hover {
    background-color: #652828;
}
